<zr-header title="Product Templates"></zr-header>
<div class="row">
    <div zr-panel="" title="Template List">
        <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Template Url</th>
                <th>Save</th>
            </tr>
            <tr ng-repeat="product in productList">
                <td>{{product.name}}</td>
                <td><input size="100" type="text" ng-model="product.url" placeholder="Put template url in here"/></td>
                <td><button class="btn btn-success" ng-click="save(product)">Save</button></td>
            </tr>
        </table>
    </div>
</div>