
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Product</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Input your product information.
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" ng-model="product.name">
                    </div>
                    <div class="form-group">
                        <label>Product Type</label>
                        <select class="form-control" ng-model="product.type" ng-options="type as type for type in types" disabled>
                            <option value="">-----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Product Description</label>
                        <textarea class="form-control" rows="3" ng-model="product.object"></textarea>
                    </div>

                    <button class="btn" ng-click="save()">Save</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Document Fields
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Field Name</th>
                        <th>Field Description</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="field in product.fields">
                        <td>{{field.name}}</td>
                        <td>{{field.description}}</td>
                        <td ng-click="remove(field)"><span class="glyphicon glyphicon-remove"></span></td>
                    </tr>
                </table>
                <form class="form-inline" role="form">
                    <div class="dd">
                        <ol class="dd-list">
                            <li class="dd-item" data-id="1">
                                <div class="dd-handle">Item 1</div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">Item 2</div>
                            </li>
                            <li class="dd-item" data-id="3">
                                <div class="dd-handle">Item 3</div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="4">
                                        <div class="dd-handle">Item 4</div>
                                    </li>
                                    <li class="dd-item" data-id="5">
                                        <div class="dd-handle">Item 5</div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <button class="btn btn-default" ng-click="addField()">Add Field</button>
                </form>
            </div>
        </div>
    </div>
</div>