<zr-header title="Edit Product"></zr-header>

<div class="row">
    <div zr-panel title="Input your product information" col-lg="6">
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" ng-model="product.name">
        </div>
        <div class="form-group">
            <label>Product Type</label>
            <select class="form-control" ng-model="product.type" ng-options="type as type for type in types">
            </select>
        </div>
        <div class="form-group">
            <label>Product Description</label>
            <textarea class="form-control" rows="3" ng-model="product.description"></textarea>
        </div>

        <button class="btn" ng-click="save()">Save</button>
    </div>

    <div zr-panel title="Define format of the product" col-lg="6" ng-switch on="product.type">
        <div ng-switch-when="simple">The product is exist outside the tool.</div>
        <div zr-document ng-switch-when="document" data="product.document"></div>
        <div ng-switch-when="json">json</div>
        <div ng-switch-default></div>
    </div>
</div>