<div ui-view>
    <zr-header title="Process Management"></zr-header>

    <div class="row">
        <div zr-panel title="Operation" col-lg="2">
            <p><button type="button" class="btn btn-primary btn-block" ui-sref="activity.create">Create Activity</button></p>
            <p><button type="button" class="btn btn-primary btn-block" ui-sref="activity.createTag">Create Tag</button></p>
            <p><button type="button" class="btn btn-primary btn-block" ui-sref="activity.createFeature">Create Feature</button></p>
        </div>
        <div class="col-lg-10">
            <div zr-panel title="Activity List">
                <table class="table">
                    <tr>
                        <th>Activity Name</th>
                        <th>Description</th>
                        <th>Features</th>
                        <th>Tags</th>
                        <th>Inputs</th>
                        <th>Outputs</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="(key,item) in activityList">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.features}}</td>
                        <td>{{item.tags}}</td>
                        <td>{{item.inputs}}</td>
                        <td>{{item.outputs}}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-warning btn-xs" ui-sref="activity.edit({id:item.$id})">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeActivity(item)">
                                <span class="glyphicon glyphicon-trash"></span> Del
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div zr-panel title="Tag List">
                <table class="table">
                    <tr>
                        <th>Tag Name</th>
                        <th>Description</th>
                        <th>Opt</th>
                    </tr>
                    <tr ng-repeat="item in tagList">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-warning btn-xs" ui-sref="activity.editTag({id:item.$id})">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeTag(item)">
                                <span class="glyphicon glyphicon-trash"></span> Del
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div zr-panel title="Feature List">
                <table class="table">
                    <tr>
                        <th>Feature Name</th>
                        <th>Description</th>
                        <th>Opt</th>
                    </tr>
                    <tr ng-repeat="item in featureList">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td nowrap>
                            <button type="button" class="btn btn-warning btn-xs" ui-sref="activity.edit({id:item.$id})">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeFeature(item)">
                                <span class="glyphicon glyphicon-trash"></span> Del
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
