<zr-header title="Create Activity"></zr-header>
<div class="row">
    <div zr-panel title="Input your activity information." col-lg="6">
        <form>
            <div class="form-group">
                <label>Activity name</label>
                <input type="text" class="form-control" ng-model="activity.name">
            </div>
            <div class="form-group">
                <label>Activity description</label>
                <textarea class="form-control" rows="10" ng-model="activity.description"></textarea>
            </div>
            <div class="form-group">
                <label>Tailoring Criteria</label>
                <textarea class="form-control" rows="10" ng-model="activity.tailor"></textarea>
            </div>
            <div class="form-group">
                <div zr-panel title="Activity features">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr ng-repeat="feature in activity.features">
                            <td>{{feature.name}}</td>
                            <td>{{feature.description}}</td>
                            <td zr-dropdown>
                                <li>
                                    <a ng-click="remove(feature,'features')">
                                        remove<span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="addItem('features',featureListRef)">Add Feature</button>
                </div>
            </div>
            <div class="form-group">
                <div zr-panel title="Activity tags">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr ng-repeat="tag in activity.tags">
                            <td>{{tag.name}}</td>
                            <td>{{tag.description}}</td>
                            <td zr-dropdown>
                                <li>
                                    <a ng-click="remove(tag,'tags')">
                                        remove<span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="addItem('tags',tagListRef)">Add Tag</button>
                </div>
            </div>
            <div class="form-group">
                <div zr-panel title="Activity inputs">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr ng-repeat="input in activity.inputs">
                            <td>{{input.name}}</td>
                            <td>{{input.description}}</td>
                            <td zr-dropdown>
                                <li>
                                    <a ng-click="remove(input,'inputs')">
                                        remove<span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="addItem('inputs',productListRef)">Add Input</button>
                </div>
            </div>
            <div class="form-group">
                <div zr-panel title="Activity outputs">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Opt</th>
                        </tr>
                        <tr ng-repeat="output in activity.outputs">
                            <td>{{output.name}}</td>
                            <td>{{output.description}}</td>
                            <td zr-dropdown>
                                <li>
                                    <a ng-click="remove(output,'outputs')">
                                        remove<span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" ng-click="addItem('outputs',productListRef)">Add Output</button>
                </div>
            </div>
            <button class="btn btn-success" ng-click="create()">Create</button>
        </form>
    </div>
</div>