
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create activity</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Input your activity information.
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Activity name</label>
                        <input type="text" class="form-control" ng-model="activity.name">
                    </div>
                    <div class="form-group">
                        <label>Activity description</label>
                        <textarea class="form-control" rows="10" ng-model="activity.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Activity dependencies</label>
                        <input type="text" class="form-control" ng-model="activity.dependencies">
                    </div>
                    <div class="form-group">
                        <label>Activity inputs</label>
                        <input type="text" class="form-control" ng-model="activity.inputs">
                    </div>
                    <div class="form-group">
                        <label>Activity outputs</label>
                        <input type="text" class="form-control" ng-model="activity.outputs">
                    </div>
                    <div class="form-group">
                        <label>Activity steps</label>
                        <input type="text" class="form-control" ng-model="activity.steps">
                    </div>
                    <div class="form-group">
                        <label>Activity measure</label>
                        <input type="text" class="form-control" ng-model="activity.measure">
                    </div>
                    <div class="form-group">
                        <label>Activity training</label>
                        <input type="text" class="form-control" ng-model="activity.training">
                    </div>
                    <div class="form-group">
                        <label>Activity type</label>
                        <input type="text" class="form-control" ng-model="activity.type">
                    </div>
                    <div class="form-group">
                        <label>Activity tags</label>
                        <input type="text" class="form-control" ng-model="activity.tags">
                    </div>
                    <button class="btn" ng-click="create()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>