<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">In {{process.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-12">
        <tabset>
            <tab heading="Input">
                <div class="row">
                    <div class="col-lg-12">
                        {{input}}
                    </div>
                </div>
            </tab>
            <tab heading="Process">process</tab>
            <tab heading="Output">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group" ng-repeat="field in output.fields">
                                <label>{{field.name}}</label>
                                <textarea class="form-control" rows="10" ng-model="field.value"></textarea>
                            </div>
                            <button class="btn" ng-click="save()">Save</button>
                        </form>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>