<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">In {{process.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    <div class="col-lg-12">
        <tabset>
            <tab heading="Input">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group" ng-repeat="field in input.fields">
                                <label>{{field.name}}</label>
                                <textarea class="form-control" rows="10" ng-model="field.value" ng-readonly="true"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
            <tab heading="Process">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Operation
                            </div>
                            <div class="panel-body">
                                <p><button type="button" class="btn btn-primary btn-block" ng-click="finish()">Finish Process</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Output">
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group" ng-repeat="field in output.fields">
                                <label>{{field.name}}</label>
                                <textarea class="form-control" rows="10" ng-model="field.value"></textarea>
                            </div>
                            <button class="btn" ng-click="saveOutput()" ng-show="output.fields">Save</button>
                        </form>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>