<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Welcome to the project's main page
            <select ng-model="selectId" ng-options="key as value.name for (key,value) in projects">
                <option value="">-----</option>
            </select>
            <button class="btn btn-default" ng-click="select()">Select</button>
            <button class="btn btn-default"ng-click="remove()">Delete</button>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                Operation
            </div>
            <div class="panel-body">
                <p><button type="button" class="btn btn-primary btn-block" ng-click="enterProcess()">Enter</button></p>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-success">
            <div class="panel-heading">
               Processes Status
            </div>
            <div class="panel-body">
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>