
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create Process</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Input your process information.
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>Process Name</label>
                        <input type="text" class="form-control" ng-model="process.name">
                    </div>
                    <div class="form-group">
                        <label>Objective To</label>
                        <textarea class="form-control" rows="3" ng-model="process.description.object"></textarea>
                    </div>
                    <div class="form-group">
                        <label>In a way that</label>
                        <textarea class="form-control" rows="10" ng-model="process.description.way"></textarea>
                    </div>
                    <div class="form-group">
                        <label>So that</label>
                        <textarea class="form-control" rows="10" ng-model="process.description.result"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Overview</label>
                        <textarea class="form-control" rows="20" ng-model="process.description.overview"></textarea>
                    </div>
                    <button class="btn" ng-click="create()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>