
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create User</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Input your user information.
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label>User Description</label>
                        <textarea class="form-control" rows="3" ng-model="user.object"></textarea>
                    </div>
                    <button class="btn" ng-click="create()">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>