<zr-header title="Activity"></zr-header>
<div class="row">
    <div class="well">
        <h1>The activity's name is {{activity.name}}</h1>
        <h2 ng-show="activity.description">The activity is using for: {{activity.description}}</h2>
        <p>
            There is some inputs and outputs. You can look then by clicking the button.
        </p>
        <ol>
            <ui ng-repeat="input in activity.inputs"><button class="btn btn-primary">{{input.name}}</button></ui>
        </ol>
    </div>
    <div zr-panel="" title="Activity info" col-lg="4">
        <p>The activity name is {{activity.name}}.</p>
        <p>Inputs:
        <ol>
            <li ng-repeat="input in activity.inputs"><button class="btn btn-success" ui-sref="main.project.activity.input({productId: input.$id})">Show {{input.name}}</button></li>
        </ol>
        </p>
        <p>Outputs:
        <ol>
            <li ng-repeat="output in activity.outputs"><button class="btn btn-success" ui-sref="main.project.activity.output({productId: output.$id})">Show {{output.name}}</button></li>
        </ol>
        </p>
    </div>
    <div class="col-lg-8" ui-view>

    </div>
</div>