<zr-header title="Create Product Tool"></zr-header>
<div class="row">
    <div zr-panel title="Input tool information" col-lg="6">
        <div zr-help="">
            If you want to upload a tool. Put the tool in the app/tool/activityTool  dir.
            Adding this js file to index.html.
            And then add the html path to the tool's Url.
        </div>
        <form name="form" novalidate>
            <div class="form-group">
                <label>Tool Name</label>
                <input type="text" name="name" class="form-control" ng-model="tool.name" required/>
                <div class="error" ng-show="form.name.$dirty && form.name.$invalid">
                    <small class="bg-danger">This field is required!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Url</label>
                <input type="text" name="url" class="form-control" ng-model="tool.url" required/>
                <div class="error" ng-show="form.url.$dirty && form.url.$invalid">
                    <small class="bg-danger">This field is required!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select name="type" class="form-control" ng-model="tool.type" ng-options="type as type for type in types">
                    <option value="">----</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea rows="10" class="form-control" ng-model="tool.description"/>
            </div>
        </form>
        <button class="btn btn-success" ng-click="add(tool)" ng-disabled="form.$invalid">Add Tool</button>
    </div>
</div>