<div ui-view>
    <zr-header title="Tools for product"></zr-header>
    <div class="row">
        <div zr-panel="" title="Product List" col-lg="6">
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Product Tool</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="product in productList">
                    <td>{{product.name}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.tool.name}}</td>
                    <td><button class="btn btn-primary" ui-sref="tool.product.select({productId:product.$id})">Select</button></td>
                </tr>
            </table>
        </div>
        <div zr-panel title="Tool List" col-lg="6">
            <table class="table">
                <tr>
                    <th>Tool Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="tool in productToolList">
                    <td>{{tool.name}}</td>
                    <td>{{tool.type}}</td>
                    <td>{{tool.description}}</td>
                    <td><button class="btn btn-danger" ng-click="remove(tool)">Delete</button></td>
                </tr>
            </table>
            <button class="btn btn-success" ui-sref="tool.product.create">Add</button>
        </div>
    </div>
</div>