<zr-header title="Create Project"></zr-header>

<div class="row">
    <div zr-panel="" title="Input your project information" col-lg="6">
        <form>
            <div class="form-group">
                <label>Project Name</label>
                <input type="text" class="form-control" ng-model="project.name">
            </div>
            <div class="form-group">
                <label>Project Description</label>
                <textarea class="form-control" rows="3" ng-model="project.description"></textarea>
            </div>
            <button class="btn btn-success" ng-click="create(project)">Create</button>
        </form>
    </div>
</div>