<zr-header title="Process Selection"></zr-header>
<div class="row">
    <div zr-panel="" col-lg="6">
        <div class="well">
            <select class="pull-right" ng-model="cProject.project" ng-options="project as project.name for project in projectList">
                <option value="">---choose project---</option>
            </select>
            <h1>
                Project Name: {{cProject.project.name}}
            </h1>
            <p>
                {{cProject.project.description}}
            </p>
        </div>
        <div class="well">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Opt</th>
                </tr>
                <tr ng-repeat="item in activityList" ng-show="item.select">
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-danger" ng-click="unselectActivity(item)">Unselect</button></td>
                </tr>
            </table>
        </div>
            <button class="btn btn-success btn-block" ng-click="save()">Save</button>
    </div>
    <div zr-panel="" col-lg="6">
        <div zr-panel title="Select By Tag">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Opt</th>
                </tr>
                <tr ng-repeat="item in tagList">
                    <td>{{item.name}}</td>
                    <td>
                        <button ng-hide="item.select" class="btn btn-success" ng-click="selectTag(item)">Select</button>
                        <button ng-show="item.select" class="btn btn-success" ng-click="unselectTag(item)">Unselect</button>
                    </td>
                </tr>
            </table>
        </div>
        <div zr-panel title="Select By Feature">

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Opt</th>
                </tr>
                <tr ng-repeat="item in featureList">
                    <td>{{item.name}}</td>
                    <td>
                        <button ng-hide="item.select" class="btn btn-success" ng-click="selectFeature(item)">Select</button>
                        <button ng-show="item.select" class="btn btn-success" ng-click="unselectFeature(item)">Unselect</button>
                    </td>
                </tr>
            </table>
        </div>
        <div zr-panel title="Select Activity">

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Opt</th>
                </tr>
                <tr ng-repeat="item in activityList" ng-hide="item.select">
                    <td>{{item.name}}</td>
                    <td><button class="btn btn-success" ng-click="selectActivity(item)">Select</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>