<zr-header title="Project : {{project.name}}"></zr-header>
<tabset>
    <tab heading="Select Activities">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Selected Activity <button class="btn btn-default" ng-click="saveActivity()">Save</button>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div zr-panel title="Selected Activities">
                                    <table class="table">
                                        <tr>
                                            <th>Activity Name</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="item in activityDataList">
                                            <td>{{item.name}}</td>
                                            <td><button class="btn btn-danger" ng-click="unselectActivity(item)">Unselect</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div zr-panel title="Activities in Organization Process Asset">
                                    <table class="table">
                                        <tr>
                                            <th>Activity Name</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="item in activityList" ng-hide="item.select">
                                            <td>{{item.name}}</td>
                                            <td><button class="btn btn-success" ng-click="selectActivity(item)">Select</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Select Products">
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Selected Activity <button class="btn btn-default" ng-click="saveActivity()">Save</button>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Product name</th>
                                <th>Product data</th>
                                <th>As input of activity</th>
                                <th>As output of activity</th>
                            </tr>
                            <tr ng-repeat="item in productList">
                                <td>{{item.name}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Select Feature's Tool">Static content</tab>
    <tab heading="Select Product's Tool">Static content</tab>
    <tab heading="Select Feature's input and output">Static content</tab>
</tabset>