<div ui-view>
    <zr-header title="Welcome to the project's main page."></zr-header>
    <div class="row">
        <div zr-panel="" title="Operation" col-lg="2">
            <p><button type="button" class="btn btn-primary btn-block" ng-click="enterProcess()">Enter</button></p>
        </div>
        <div zr-panel="" title="Activities Status" col-lg="10">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
                <tr ng-repeat="activity in activityList" ng-click="select(activity)" ng-class="{success:selected===activity}">
                    <td>{{activity.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>