<div ui-view>
    <zr-header title="Welcome to the project's main page."></zr-header>
    <div class="row">
        <div zr-panel="" title="Activities Status" col-lg="12">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="activity in activityList" >
                    <td>{{activity.name}}</td>
                    <td><button type="button" class="btn btn-success btn-xs" ng-click="enterProcess(activity)">
                            <span class="glyphicon glyphicon-off"></span> Enter
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <pre>{{activityList|json}}</pre>
        <pre>{{selected|json}}</pre>
    </div>
</div>